


    <div class="header" style="padding:0.3rem;">
    
        <div class="containerHeader" style="height:100%;">
            <header-component></header-component>
            <alert-component></alert-component>
        </div>

    </div>

    <div class="aside"> <!-- onclick="openSideMenu();" (click)="playAnim('show');" -->
        <a href="#" (click)="playAnim('show'); openSideMenu('side-menu');" class="sideMenuIcon general flexCenterCol" style=" text-decoration: none">
            <i class="fas fa-bars"></i>
            <span>General</span>
        </a>
        <a href="#" (click)="playAnim('show'); openSideMenu('side-menu-search');" class="sideMenuIcon search flexCenterCol" style=" text-decoration: none">
            <i class="fas fa-search"></i>
            <span>Search</span>
        </a>

        <a href="#" (click)="playAnim('show'); openSideMenu('side-menu-user');" class="sideMenuIcon user flexCenterCol" style=" text-decoration: none">
            <i class="fas fa-user"></i>
            <span>User</span>
        </a>

        <div id="side-menu" class="side-nav">
            <side-menu></side-menu>
        </div>

        <div id="side-menu-search" class="side-nav">
            <side-menu-search></side-menu-search>
        </div>

        <div id="side-menu-user" class="side-nav">
            <side-menu-user></side-menu-user>
        </div>

    </div>

    <div class="main" style="height:100%;">
        <div class="mainContent" style="height:100%;">
            <div class="mainHeader" style="height:100%;">
                <nav class="navbar">
                    <ul class="navbar-nav" style="margin:0;">
                        <li>
                            <a href="#" >Jira</a> <!-- (click)="changeActiveNav" -->
                        </li>
                        <li>
                            <a href="#">Test</a>
                        </li>
                        <li>
                            <a href="#">Stats</a>
                        </li>
                    </ul>
                </nav>
            </div>


            <div class="mainItems" style="justify-items: flex-start;">
            <flex-wrap-component></flex-wrap-component>
            </div>
            
            
        </div>
    </div>

    <div class="footer">

    </div>


