.forestHolder {
    height: 100%;
    overflow-y: auto;
   /*  overflow-x: hidden; */
}




.hoverHand:hover {
    cursor: pointer;
}

.my-tooltip {
    display: none;
}

.my-tooltip-active {
    display: block;
}
div.ps {
height:100%;
}
.popp label {
font-size:1.4rem; 
font-weight:200;
}

.issuelinks label{
    display:block;
}

.popp h3 {
    font-weight:600;
}
a {
    text-decoration:none;
    color:inherit
}        
.fontSize {
    font-size: 1rem;
}
.imgSize {
    height: 1rem;
    width: 1rem;
}
.smallPadd {
    padding: 0.2rem;
    display:block!important;
    text-align:center;
}

.box .row.header {
flex: 0 1 auto;
/* The above is shorthand for:
flex-grow: 0,
flex-shrink: 1,
flex-basis: auto
*/
}

.box .row.content {
flex: 1 1 auto;
}

.break {
    flex-basis: 100%;
    width: 0px; 
    height: 0px; 
    overflow: hidden;
  }