<div style="height:100%; ">
    <div id="results">
     
        <h1 id="final_span" class="final"></h1>
        <h1 id="interim_span" class="interim"></h1>
    </div>

    <div>
        <h2 id="readyForSpeech" onclick="startDictation(event)">click.</h2>
    </div>

</div>