
<div *ngIf="weather" class="weather">


    <div class="weatherWrapperOne">
        <div class="fa-4x">
            <i *ngIf="weather.list[0].weather[0].main === 'Snow'" class="far fa-snowflake"></i>
            <i *ngIf="weather.list[0].weather[0].main === 'Clear'" class="fas fa-sun"></i>
            <i *ngIf="weather.list[0].weather[0].main === 'Rain'" class="fas fa-tint"></i>
            <i *ngIf="weather.list[0].weather[0].main === 'Cloudy'" class="fas fa-cloud"></i>
        </div>
        <div>
            <h5>{{weather.list[0].weather[0].description}}</h5>
        </div>
    </div>
    <div class="weatherWrapperThree">
        <h5 style="display:inline-block;">{{weather.list[0].main.temp_min}}<br>Lo</h5>
        <h3 style="display:inline-block;">{{weather.list[0].main.temp}}</h3>
        <h5 style="display:inline-block;">{{weather.list[0].main.temp_max}}<br>Hi</h5>
    </div>

    <div class="weatherWrapperOne">
        <p>Humidity: {{weather.list[0].main.humidity}} %</p>
    </div>
</div>