.weatherWrapperOne {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 0.2rem;
    justify-items: center;
    /* horizontally: start, stretch, end, center */
    align-items: stretch;
    /*      margin-bottom: 1em; */
    /* vertically: start, end, center */
}

.weatherWrapperTwo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 0.2rem;
    justify-items: center;
    /* horizontally: start, stretch, end, center */
    align-items: stretch;
    /*     margin-bottom: 1em; */
    /* vertically: start, end, center */
}

.weatherWrapperThree {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 0.2rem;
    justify-items: center;
    /* horizontally: start, stretch, end, center */
    align-items: stretch;
    /*         margin-bottom: 1em; */
    /* vertically: start, end, center */
}

.weather h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}