


  <div style="height:100%;">
      <div style="height:75%; transform:translateY(25%);">
          <h5 style="color:white;margin:0;padding:0;">{{currentDate.year}}-{{currentDate.month}}-{{currentDate.date}} - {{currentDate.year}}.{{currentDate.week}}.{{currentDate.dayNumber}}</h5>
          <h6 style="color:white;margin:0;padding:0;">{{currentDate.time}}</h6>
      </div>
  </div>


  <div style="height:100%;text-align:center;">
      <!-- <div class="tooltip" style="height:100%; ">
          <h3 class="brightText hoverHand">FlexDash</h3>

          <span class="tooltiptext">
              The application Flex Dashboard is the very tool for the Flex Community to track and follow the progress and development within the applications MAC, MACCloud, MEM and MPP.
              <br><br>
              Most welcome !
              <br>
              With regards / Flex Dashboard PO (Hasse Öhrström)
          </span>
      </div> -->
  </div>

    <div class="fa-1x" style="text-align:right;">
        <span class="fa-layers fa-fw hoverHand" (click)="modalFlexDashboardInfo.open()" style="color:white;font-size:2em;">
        <i class="fas fa-info-circle"></i>
    </span>
    </div>

    <bs-modal #modalFlexDashboardInfo cssClass="modal-seventy">
        <bs-modal-header [showDismiss]="false">
            <h1 class="modal-title">Flex Dashboard</h1>
        </bs-modal-header>
        <bs-modal-body>
            <div class="col-md-12" style="margin-bottom:10%;">
                <h2>Synopsis:</h2>
                <p>
                    The ambition is to offer a tool that supports a helicopter-view and drilldown-possibility within all activities within the Flex Team.
                </p>

                <p>
                    The source of the data is retrieved from JIRA (the projects MAC, MEM, MPP and MACCloud) and and with a regular frequence or when a function are used, the data will be automatically updated.
                </p>

                <p>
                    Since there is a different need of what You are interested in, a modular approach i.e. different Dashboards has been implemented. This means that You can select on a personal level (role based), what functions You would like to see and use.
                </p>

                <p>The following main target groups has been adressed within this tool:</p>
                <ul>
                    <li>Product Owners</li>
                    <li>SCRUM Masters</li>
                    <li>Business Owners</li>
                    <li>Development Teams</li>
                    <li>Support Team</li>
                    <li>Mangement</li>
                    <li>Steering Committee (Operational and Executive)</li>
                </ul>

                <p>
                    <span style="font-weight:bold">Please note !</span><br> You have a possibility to give us feedback (improvement-proposals) via the banner ”Provide feedback” at the top of the Dashboard. So if You miss a function, don´t hesitate
                    to provide the good idea to us.
                </p>
                <p>Thanks / Flex Dashboard PO (Hasse Öhrström)</p>

            </div>

        </bs-modal-body>
        <bs-modal-footer style="position:absolute;bottom:0;width:100%;">
            <div class="col-md-12">

                <button type="button" class="btn btn-close" (click)="modalFlexDashboardInfo.close()">Close</button>
            </div>
        </bs-modal-footer>
    </bs-modal>
 

  <div style="height:100%; text-align:right;">
      <button class="btn btn-success" type="submit" style="height:100%; white-space: nowrap;" (click)="modalCreateCRTR.open(); openSnackBar();">JIRA Create</button>
      <bs-modal #modalCreateCRTR cssClass="modal-seventy">
          <bs-modal-header [showDismiss]="false">
              <h1 class="modal-title">Create CR or TR</h1>
          </bs-modal-header>
          <bs-modal-body>

              <div class="col-md-12 flex" style="margin-bottom:10%; padding-left:15%; padding-right:15%;">

                  <div class="full horizontalPadding">
                      <mat-form-field>
                          <mat-select placeholder="Source of Origin">
                              <mat-option value="option">Option</mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>


                  <div class="col-container">
                      <div class="col-6 full horizontalPadding">
                          <mat-form-field>
                              <mat-select placeholder="Send Request To">
                                  <mat-option value="option">Option</mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>

                      <div class="col-6 full horizontalPadding">
                          <mat-form-field>
                              <mat-select placeholder="Related To">
                                  <mat-option value="option">Option</mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>
                  </div>

                  <div class="full horizontalPadding">
                      <mat-form-field>
                          <input matInput placeholder="Title">
                      </mat-form-field>
                  </div>

                  <div class="full horizontalPadding">
                      <mat-form-field>
                          <textarea matInput placeholder="Description"></textarea>
                      </mat-form-field>
                  </div>

                  <div class="full horizontalPadding">
                      <mat-form-field>
                          <textarea matInput placeholder="Background"></textarea>
                      </mat-form-field>
                  </div>

                  <div class="full horizontalPadding">
                      <mat-form-field>
                          <mat-select placeholder="Contact Person">
                              <mat-option value="option">Option</mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>


                  <div class="col-container">
                      <div class="col-6 full horizontalPadding">
                          <mat-form-field>
                              <mat-select placeholder="Requested Priority">
                                  <mat-option value="option">Option</mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>

                      <div class="col-6 full horizontalPadding">
                          <mat-form-field>
                              <mat-select placeholder="Requested Eso?">
                                  <mat-option value="option">Option</mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>
                  </div>

                  <div class="full horizontalPadding">
                      <mat-form-field>
                          <textarea matInput placeholder="Consequence If Not Done"></textarea>
                      </mat-form-field>
                  </div>

                  <div class="full horizontalPadding">
                      <mat-form-field>
                          <textarea matInput placeholder="Business Case"></textarea>
                      </mat-form-field>
                  </div>

              </div>

          </bs-modal-body>
          <bs-modal-footer style="position:absolute;bottom:0;width:100%;">
              <div class="col-md-12">
                  <button type="button" class="btn btn-close" (click)="modalCreateCRTR.close()">Close</button>
              </div>
          </bs-modal-footer>
      </bs-modal>
  </div>

