
<div class="flexCenterRow" style="justify-content: space-between; padding:1rem;">
  
  <div>
    <h2 style="display: inline-block; margin:0;">Search</h2>
  </div>
  
  
  <div class="gridControl" (click)="closeSideMenu('side-menu-search');" > <!-- playAnim();  -->
    <i class="fas fa-times"></i>
  </div>

</div>

<div></div>



