.btn:focus {
    outline: none!important;
}

.btn-secondary {
    background-color: rgb(40, 40, 40)!important;
    border: 1px solid rgb(40, 40, 40)!important;
    color: white!important;
}

.btn-secondary:hover {
    background-color: rgb(80, 80, 80)!important;
    border: 1px solid rgb(40, 40, 40)!important;
}

.priorityButtons .btn-success {
    background-color: white;
    border: 1px solid #44a878;
    color: #44a878;
}

.priorityButtons .btn-success.focus {
    border: 1px solid #44a878!important;
    background-color: #44a878!important;
    color: white;
    outline: none!important;
}

.priorityButtons .btn-success.active {
    color: white;
    background-color: #44a878;
}

.priorityButtons .btn-warning {
    background-color: white;
    border: 1px solid #f88643;
    color: #f88643;
}

.priorityButtons .btn-warning.focus {
    border: 1px solid #f88643!important;
    background-color: #f88643!important;
    color: white!important;
    outline: none!important;
}

.priorityButtons .btn-warning.active {
    color: white;
    background-color: #f88643;
}

.priorityButtons .btn-danger {
    background-color: white;
    border: 1px solid #ee2156;
    color: #ee2156;
}

.priorityButtons .btn-danger.focus {
    border: 1px solid #ee2156!important;
    background-color: #ee2156!important;
    color: white;
    outline: none!important;
}

.priorityButtons .btn-danger.active {
    color: white;
    background-color: #ee2156;
}

 .mat-radio-container { /* /deep/*/
    display: none!important;
}

 .mat-radio-label-content { /* /deep/*/
    padding: 0!important;
}
 
#alertTextElement:hover {
    cursor: pointer;
}

.hoverHand:hover {
    cursor: pointer;
}