
<div *ngFor="let item of tree; let i = index;" class="holder" [ngClass]="{notFirstLevel: item.levelId!=0}">
   <!-- let l = last  [appLastElement]="l" (lastFunc)="doneRepeating(i, l)" -->
    <div [ngClass]="'treeLevel' + item.levelId">

        <!--///////////////////////////// FOLDER //////////////////////////////////////-->
        <div *ngIf="!item.sort" class="fa-1x" class="flexCenterCol">
            <span class="fa-layers fa-fw hoverHand">
                <i class="far fa-folder-open"></i>
            </span>
        </div>

        <!--///////////////////////////// ISSUE //////////////////////////////////////-->
        <div *ngIf="item.fields?.issuetype" class="flexCenterCol">

            <!--///////////////////////////// Project Icon m popover-hover //////////////////////////////////////-->
            <ng-template #projectTooltip>
                <div class="smallPadd blackBack">
                    <h4 class="noMargin">Project</h4>
                </div>
                <div class="smallPadd whiteBack">
                    <h5 class="noMargin" style="white-space: nowrap;">{{item.fields.project.key}} - {{item.fields.project.name}}</h5>
                </div>
            </ng-template>
            <div class="flexCenterCol" >
                <img *ngIf="item.fields?.project.key" class="imgSize" border="0" [ngbPopover]="projectTooltip" triggers="mouseenter:mouseleave" placement="right" [src]="item.fields.project.avatarUrls['48x48']">
            </div>

        </div>


        <div style="display:block;">
            <div style="display:table; width:100%;">
       
                <h4 *ngIf="item.sort" style="pointer-events:none; display:table-cell; vertical-align:top; padding:0.1rem;">{{item.sort}}</h4>
  
                <div style="display: flex; justify-content:flex-end; align-content:center; flex-direction:row;">

                    <ng-template #jiraTooltip style="padding:0;">
                        <div class="smallPadd blackBack">
                            <h4 class="noMargin">Jira-Link</h4>
                        </div>
                        <div class="smallPadd whiteBack">
                            <h5 class="noMargin">Click to Go to Jira</h5>
                        </div>
                    </ng-template>
                    <div *ngIf="item.sort" class="fontSize" [ngbPopover]="jiraTooltip"  triggers="mouseenter:mouseleave" placement="top" class="flexCenterCol">
                        <a href="https://jira.scania.com/browse/{{item.sort}}" target="_blank">
                            <span class="fa-layers fa-fw hoverHand">
                                <i class="fas fa-external-link-square-alt"></i> <!-- class="fa-2x"  -->
                            </span>
                        </a>
                    </div>

                   
                    <!--///////////////////////////// Priorirt Icon med hover //////////////////////////////////////-->
                    <ng-template #priorityTooltip>
                        <div class="smallPadd blackBack">
                            <h4 class="noMargin">Priority</h4>
                        </div>
                        <div class="smallPadd whiteBack">
                            <h5 class="noMargin">{{item.fields.priority.name}}</h5>
                        </div>
                    </ng-template>
                    <div class="fontSize" *ngIf="item.fields?.priority" [ngbPopover]="priorityTooltip" triggers="mouseenter:mouseleave" placement="top" class="flexCenterRow">
        

                    <!-- Kan inte konvertera svg:n när man kör lokalt, (extra cross origin-error) -->
                    <!--   <div *ngIf="item.fields?.priority" [inlineSVG]="'img/nope.svg'" [fallbackImgUrl]="'https://nodei.co/npm/ng-inline-svg.png?compact=true'"></div> -->

                    <!-- <img  *ngIf="item.fields?.priority && runningLocally" class="imgSize svg-convert" border="0" style="margin: 0 0.2rem 0 0.2rem;" [src]="item.fields.priority.iconUrl" [ngbPopover]="priorityTooltip" triggers="mouseenter:mouseleave" placement="top"> -->

                        <span class="fa-layers fa-fw hoverHand">
                            <i *ngIf="item.fields.priority.id == '1'" class="fas fa-ban" style="color:red"></i>
                            <i *ngIf="item.fields.priority.id == '2'" class="fas fa-arrow-up" data-fa-transform="shrink-4 up-2" style="color:red"></i>
                            <i *ngIf="item.fields.priority.id == '2'" class="fas fa-circle" data-fa-transform="shrink-12 down-6" style="color:red"></i>
                       
                            <i *ngIf="item.fields.priority.id == '3'" class="fas fa-angle-double-up" style="color:red;"></i>
                            <i *ngIf="item.fields.priority.id == '4'" class="fas fa-angle-double-down" style="color:green;"></i>
                            <i *ngIf="item.fields.priority.id == '5'" class="fas fa-arrow-down"></i>
                            <i *ngIf="item.fields.priority.id == '6'" class="fas fa-arrow-down"></i>
                        </span>

                    </div>






                    <!--///////////////////////////// Date Icon med click //////////////////////////////////////-->
                    <ng-template #dateContent> 
                        <div class="popp" style="display:block; background-color:white; overflow-y:auto; width:817px; height:500px;">
                            <div class="treeInfoWrapper">

                                <div style="background:black; color:white; display:block;">
                                    <h3 class="noMargin centeredText">Timeline</h3>
                                </div>
                                
                                <ul *ngIf="item.changelog" class="timeline" style="width: 80%;">
                                    <!-- Created Item -->
                                    <li>
                                      <div class="direction-r">
                                        <div class="flag-wrapper">
                                          <span class="hexa"></span>
                                          <span class="flag">Created</span>
                                          <span class="time-wrapper">
                                              <span class="time">{{item.fields.created | dateFormatter: 'date'}}</span>
                                            </span>
                                        </div>
                                        <div *ngIf="item.fields.creator" class="desc">
                                            <div class="flex-container-center">
                                                <p class="noMargin" style="display:inline-block;">Creator - {{item.fields.creator.displayName}}</p>
                                            
                                                <a style="display:inline-block;" href="mailto:{{item.fields.creator.emailAddress}}">
                                                    <span class="fa-layers fa-fw hoverHand" style="vertical-align:center;">
                                                        <i class="far fa-envelope" style="margin-left:0;"></i>
                                                    </span>
                                                </a>

                                                <p class="noMargin" style="display:inline-block;">Reporter - {{item.fields.reporter.displayName}}</p>
                                            
                                                <a style="display:inline-block;" href="mailto:{{item.fields.reporter.emailAddress}}">
                                                    <span class="fa-layers fa-fw hoverHand" style="vertical-align:center;">
                                                        <i class="far fa-envelope" style="margin-left:0;"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                      </div>
                                    </li>

                                    
                                 
                                    <ng-container *ngFor="let entry of getRelevantEntries(item.changelog.histories); let ind = index; let odd=odd; let even=even;" >
                                        <ng-container *ngFor="let i of entry.items">
                                            <li *ngIf="(i.field == 'status' || i.field == 'reporter' ||i.field == 'Fix Version' || i.field == 'priority' || i.field == 'assignee' ||i.field == 'Component') && i.toString">
                                                <div [ngClass]="{ 'direction-r': (ind % 2 != 0), 'direction-l': (ind % 2 == 0) }" >
                                                       
                                                    <div class="flag-wrapper">
                                                        <span class="hexa"></span>
                                                        <span *ngIf="i.field == 'status'" class="flag">{{i.toString}}</span>
                                                        <span *ngIf="i.field != 'status'" class="flag capitalize">{{i.field}}</span>
                                                        <span class="time-wrapper">
                                                            <span class="time">{{entry.created | date: 'y-MM-dd'}}</span>
                                                        </span>
                                                    </div>
                                                    
                                                    <div class="desc"> 
                                                        <div class="flex-container-center">
                                                            
                                                            <p *ngIf="i.field == 'Fix Version' || i.field == 'Component'" class="capitalize noMargin">
                                                                Added: "{{i.toString}}"
                                                            </p>
                                                           
                                                            <p *ngIf="i.field != 'Fix Version' && i.field != 'Component'" class="capitalize noMargin">
                                                                <span *ngIf="i.fromString">'{{i.fromString}}'</span> 
                                                                <span *ngIf="!i.fromString">None</span>
                                                            
                                                                <span class="fa-layers fa-fw hoverHand" style="vertical-align:center;">
                                                                    <i class="far fa-arrow-alt-circle-right"></i>
                                                                </span>
                                                            
                                                                <span *ngIf="i.toString">'{{i.toString}}'</span> 
                                                                <span *ngIf="!i.toString">None</span>
                                                            </p>
                                                         
                                                            
                                                            <p class="noMargin" style="display:inline-block;">
                                                                Updated by - {{entry.author.displayName}}
                                                            </p>
                                                            <a style="display:inline-block;" href="mailto:{{entry.author.emailAddress}}">
                                                                <span class="fa-layers fa-fw hoverHand" style="vertical-align:center;">
                                                                    <i class="far fa-envelope" style="margin-left:0;"></i>
                                                                </span>
                                                            </a>
                                                        </div>   
                                                    </div>
                                                </div>
                                            </li>
                                        </ng-container>

                                        <li *ngIf="i == (item.changelog.histories.length - 1)" >
                                                <div [ngClass]="{ 'direction-r': odd, 'direction-l': even }" >
                                                    <div class="flag-wrapper">
                                                        <span class="hexa"></span>
                                                        <span class="flag">Last Updated</span>
                                                        <span class="time-wrapper">
                                                            <span class="time">{{entry.created | dateFormatter: 'date'}}</span>
                                                        </span>
                                                    </div>
                                                    <div class="desc">
                                                        <div class="flex-container-center">
                                                        <p class="noMargin" style="display:inline-block;">
                                                            Updated by - {{entry.author.displayName}}
                                                        </p> 
                                                            <a style="display:inline-block;" href="mailto:{{entry.author.emailAddress}}">
                                                                <span class="fa-layers fa-fw hoverHand" style="vertical-align:center;">
                                                                    <i class="far fa-envelope" style="margin-left:0;"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                  </div>
                                              </li>

                                    </ng-container>
                                  </ul>
 
                            </div>
                        </div>
                    </ng-template>
                    <div *ngIf="item.sort" class="fontSize" [ngbPopover]="dateContent"   placement="right" class="flexCenterRow" container="body">
                        <span class="fa-layers fa-fw hoverHand">
                            <i class="fas fa-calendar-alt"></i>
                        </span>
                    </div>

                    <!--///////////////////////////// Eye/More Icon med hover //////////////////////////////////////-->
                    <ng-template #moreContent>
                        <div class="popp" style="display:block; background-color:white; overflow-y:scroll; width:600px; max-height:500px;">
                            <div class="treeInfoWrapper">

                                <div style="background:black; color:white; display:block;">
                                    <h3>{{item.sort}} - {{item.name}}</h3>
                                </div>


                            <div class="containerOneFr">

                                <!-- ////////////////////// Description /////////////////////////-->
                                <div *ngIf="item.fields.description" style="display:block;">
                                    <h3>Description</h3>
                                    <p class="formatted">{{item.fields.description | textLength:600}}</p>
                                </div>

                                <!-- ////////////////////// Fix Versions /////////////////////////-->
                                <div *ngIf="item.fields.fixVersions.length > 0" style="display:block; " class="containerOneFr">
                                    <h3>Fix Versions</h3>
                                    <div *ngFor="let fixversion of item.fields.fixVersions" style="display:block;">
                                        <label *ngIf="fixversion.name">{{fixversion.name}}</label>
                                        <br>
                                        <label>Released:
                                            <span *ngIf="fixversion.released">Yes</span>
                                            <span *ngIf="fixversion.releaseDate"> - {{fixversion.releaseDate | date: 'dd-MM-y'}}</span>
                                            <span *ngIf="!fixversion.released">No</span>
                                        </label>
                                        <br>
                                        <label>Archived:
                                            <span *ngIf="fixversion.archived">Yes</span>
                                            <span *ngIf="!fixversion.archived">No</span>
                                        </label>
                                    </div>
                                </div>

                                <!-- ////////////////////// Labels /////////////////////////-->
                                <div class="containerTwoFr">
                                    <div *ngIf="item.fields.labels.length > 0"style="display:block;">
                                        <h3>Labels:</h3>
                                        <ul>
                                            <li *ngFor="let label of item.fields.labels">{{label}}</li>
                                        </ul>
                                    </div>
    
                                    <!-- ////////////////////// Components /////////////////////////-->
                                    <div *ngIf="item.fields.components.length > 0" style="display:block;">
                                        <h3>Components:</h3>
                                        <ul>
                                            <li *ngFor="let component of item.fields.components">
                                                <span *ngIf="component.name">{{component.name}}</span>
                                                <span *ngIf="component.description"> - ({{component.description}})</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                
                
                                <!-- ////////////////////// IssueLinks /////////////////////////-->
                                <div *ngIf="item.fields.issuelinks.length > 0" style="display:block;">
                                    <h3>Related To</h3>
                                    <div *ngFor="let issuelink of item.fields.issuelinks" class="issuelinks" style="display:block;">
                          
                                        <div *ngIf="issuelink.inwardIssue" style="display:block; padding-bottom:1rem;">
                                            <p>{{issuelink.type.inward}} - {{issuelink.inwardIssue.key}}: {{issuelink.inwardIssue.fields.summary}}</p>
                                            <div class="flex-container-left">

                                                <ng-template #inwardTypeTooltip>
                                                    <div class="popoverHeader">
                                                        <p>Type</p>
                                                    </div>
                                                    <div class="popoverBody">
                                                        <p>{{issuelink.inwardIssue.fields.issuetype.name}}</p>
                                                    </div>
                                                </ng-template>
                                                <img [ngbPopover]="inwardTypeTooltip" class="imgSize" triggers="mouseenter:mouseleave" placement="top" src="{{issuelink.inwardIssue.fields.issuetype.iconUrl}}" alt="">

                                                <ng-template #inwardPriorityTooltip>
                                                        <div class="popoverHeader">
                                                            <p>Priority</p>
                                                        </div>
                                                        <div class="popoverBody">
                                                            <p>{{issuelink.inwardIssue.fields.priority.name}}</p>
                                                        </div>
                                                    </ng-template>
                                                <img [ngbPopover]="inwardPriorityTooltip" class="imgSize" triggers="mouseenter:mouseleave" placement="top" 
                                                src="{{issuelink.inwardIssue.fields.priority.iconUrl}}" alt="" style="margin-left:0.5rem;">

                                                <h5 class="h5Padding" [ngClass]="issuelink.inwardIssue.fields.status.name">
                                                    {{issuelink.inwardIssue.fields.status.name}}
                                                </h5>
                                            </div>
                                        </div>


                                        <div *ngIf="issuelink.outwardIssue" style="display:block; padding-bottom:1rem;">
                                            <label>{{issuelink.type.outward}} - {{issuelink.outwardIssue.key}}: {{issuelink.outwardIssue.fields.summary}}</label>
                                            <div class="flex-container-left">

                                                <ng-template #outwardTypeTooltip>
                                                    <div >
                                                        <p style="font-size:1.8rem; ">Type</p>
                                                    </div>
                                                    <div class="popoverBody">
                                                        <p>{{issuelink.outwardIssue.fields.issuetype.name}}</p>
                                                    </div>
                                                </ng-template>
                                                <img [ngbPopover]="outwardTypeTooltip" class="imgSize" triggers="mouseenter:mouseleave" placement="top" src="{{issuelink.outwardIssue.fields.issuetype.iconUrl}}" alt="">
    
                                                <ng-template #outwardPriorityTooltip>
                                                    <div class="popoverHeader">
                                                        <p style="font-size:1.8rem; ">Priority</p>
                                                    </div>
                                                    <div class="popoverBody">
                                                        <p>{{issuelink.outwardIssue.fields.priority.name}}</p>
                                                    </div>
                                                </ng-template>
                                                <img [ngbPopover]="outwardPriorityTooltip" class="imgSize" triggers="mouseenter:mouseleave" placement="top" 
                                                src="{{issuelink.outwardIssue.fields.priority.iconUrl}}" alt="" style="margin-left:0.5rem;">

                                                <h5 class="h5Padding" [ngClass]="issuelink.outwardIssue.fields.status.name">
                                                    {{issuelink.outwardIssue.fields.status.name}}</h5>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </ng-template>
                    <div *ngIf="item.sort" class="fontSize" [ngbPopover]="moreContent"   placement="right" class="flexCenterRow"> <!-- closePopoverOnOutsideClick -->
                        <span class="fa-layers fa-fw hoverHand">
                            <i class="fas fa-eye"></i>
                        </span>
                    </div>

                    <!--///////////////////////////// Status Icon med hover //////////////////////////////////////-->
                    <ng-template #statusTooltip>
                        <div class="smallPadd blackBack">
                            <h4 class="noMargin">Status</h4>
                        </div>
                        <div class="smallPadd whiteBack">
                            <h5 class="noMargin">{{item.fields.status.name}}</h5>
                        </div>
                    </ng-template>
                    <div *ngIf="item.fields?.status" style="display:flex; align-items:center; justify-items:center;">
                        <h5 [ngClass]="item.fields.status.name" class="hoverHand" [ngbPopover]="statusTooltip" triggers="mouseenter:mouseleave" placement="top"  class="h5Padding">{{item.fields.status.name}}</h5> 
                    </div>


                    <!--///////////////////////////// Fix Version Icon med hover //////////////////////////////////////-->
                    <ng-template #fixVersionTooltip>
                    
                            <div class="smallPadd blackBack">
                                <h4 class="noMargin">In Release</h4>
                            </div>
                            <div class="smallPadd whiteBack" *ngFor="let fix of item.fields.fixVersions">
                                <h5 class="noMargin" *ngIf="fixVersionIsARelease(fix.name)">{{fix.name}}</h5> 
                            </div>
                        
                    </ng-template>
                    <div *ngIf="item.fields?.fixVersions?.length > 0" style="display:flex; align-items:center; justify-items:center;">
                        <div style="display:flex; align-items:center; justify-items:center;" *ngFor="let fix of item.fields.fixVersions">
                            <h5 *ngIf="fixVersionIsARelease(fix.name)" class="hoverHand" [ngbPopover]="fixVersionTooltip" triggers="mouseenter:mouseleave" placement="top" style="text-align:center; display:inline-block; margin:0;">
                                <span *ngIf="fix.released && !fix.archived" class="Released">Released</span>
                                <span *ngIf="!fix.released && !fix.archived" class="Unreleased">Unreleased</span>
                                <span *ngIf="fix.archived" class="Archived">Archived</span>
                            </h5>
                        </div>
                    </div>


                </div>
            </div>
            <!-- Om det är en folder - skrivfoldernamnet-->
            <h4 class="hoverHand" *ngIf="!item.sort">{{item.name}}</h4>

        </div>


        <div *ngIf="item.fields?.issuetype" class="flexCenterCol">
            <ng-template #tooltipContent >
                <div class="smallPadd blackBack">
                    <h4 class="noMargin">{{item.fields.issuetype.name}}</h4>
                </div>
                <div class="smallPadd whiteBack">
                    <h5 class="noMargin">{{item.fields.issuetype.description}}</h5>
                </div>
            </ng-template>
            <img border="0" [ngbPopover]="tooltipContent" position="fixed" class="imgSize" triggers="mouseenter:mouseleave" placement="right" 
            src="{{item.fields.issuetype.iconUrl}}">
        </div>

        <!--///////////////////////////// Title //////////////////////////////////////-->
        <div *ngIf="item.sort" style="display:block;">
            <h5 class="hoverHand">{{item.name}}</h5>
        </div>

    </div>

    <forest-item class="accordionChild" *ngIf="item.children.length > 0" [tree]="item.children"></forest-item>

</div>
