body {
    margin: 5vw;
    background-color: #4455ff;
    font-family: sans-serif;
    color: #fff;
}

h2 {
    padding-left: 2vw;
    font-size: 40px;
}

section {
    /*   
    padding-bottom: 5vw;
    padding-top: 5vw; 
    */
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-basis: 400px;
    justify-content: center;
}

.box:not(.boxFull) {
    flex-grow: 0;
    min-height: 400px;
    flex-basis: 400px;
    /*
    flex-basis: 200px;
    margin: 1vw;
    */
    -webkit-box-shadow: 0px 0px 17px 2px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 0px 17px 2px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 17px 2px rgba(0, 0, 0, 0.9);
    background: rgb(40, 40, 40);
}

.boxFull {
    border-radius: 8px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
    flex-grow: 1;
    min-height: 90vh;
    flex-basis: 100%;
    max-height: 50vh;
    order: -1;
    /* för att sätta den först */
    -webkit-box-shadow: 0px 0px 17px 2px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 0px 17px 2px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 17px 2px rgba(0, 0, 0, 0.9);
    background: rgb(40, 40, 40);
}

.box {
    text-align: left;
    position: relative;
}

.fas:hover {
    cursor: pointer!important;
}

.far:hover {
    cursor: pointer;
}

.box {
    color: rgb(200, 200, 200);
}




/* 
$('.cardFull').insertBefore('.card').eq(0);
*/

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid .box:not(.boxFull) {
    min-width: 25vw;
    /* min-height: 25vh; */
    /* added */
}


/* för att använda css vid visst antal element (nth-last-child(x), där x är antal element) */

.box:first-child:nth-last-child(1) {}

.box:first-child:nth-last-child(2),
.box:first-child:nth-last-child(2)~.box {}

.box:first-child:nth-last-child(3),
.box:first-child:nth-last-child(3)~.box {}

.box:first-child:nth-last-child(4),
.box:first-child:nth-last-child(4)~.box {}


/* för att använda CSS för 8:e elementet och efter */

.box:not(.boxFull) {
    max-width: var(--colsPerRow);
}


/* 

var boxes = $('.flex .box');

var rows = 0;
var cols = 0;

var tempHeight;
var firstRowHeight = $(boxes[0]).offset().top;

for (var i = 0; i < boxes.length; i++) {
	
	if ($(boxes[i]).offset().top != tempHeight){
		rows += 1;
		tempHeight = $(boxes[i]).offset().top;
	}
}
for (var i = 0; i < boxes.length; i++) {
	if ($(boxes[i]).offset().top == firstRowHeight) {
		cols += 1;
	}
	else {
		break;
	}
}

.box {

    max-width: calc(100% / cols)!important;

}

*/




/* behöver ses över, funkar bra när sista raden har EN box om t.ex. övre raden har 2/3/4, men inte om den har 2 boxar med 3/4 ovanför 
borde vara för alla boxar på sista raden om de är färre än på raden ovanför */
/*
.flex .box:last-child {
    flex-grow: 0!important;
} */

.flex {
    margin: -5px 0px;
    height:100%;
}


.box {
    padding: 1em;
    border-radius: 8px;
    margin: 5px 5px;
    flex-grow: 1!important;
 
    width: 100%!important;
    height: auto!important;
    overflow-y:auto;
    display: flex;
}


.aspect-ratio-box::before {
    content: "";
    width: 1px;
    margin-left: -1px;
    float: left;
    height: 0;
    padding-top: 100%;
}

.aspect-ratio-box::after {
    /* to clear float */
    content: "";
    display: table;
    clear: both;
}
.aspect-ratio-box-inside {
    position: absolute;
    /* z-index:1; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   /*  overflow:hidden; */
    /* padding: 1rem 0 1rem 1rem; */
  }

  .aspect-ratio-box {
    overflow:visible;
  }
  perfect-scrollbar {
    overflow:visible;
      
  }