<section>

<div class="flex" style="margin: 0 -5px;">
    <!-- Overflow visible för tooltip style="overflow:visible; z-index:1;" --> 
    <div  *ngFor="let box of boxes; let i = index; let l = last" [appLastElement]="l" (lastFunc)="doneRepeating()" class="box box{{i}} aspect-ratio-box">
        
        <div  class="aspect-ratio-box-inside"> <!-- style="overflow:visible;" -->
    
            <div *ngIf="i !== 0" style="padding:0.75rem;">
                <div style="text-align:left; display:inline-block;">
                    <h3 style=" display:inline-block;">Title</h3>
                </div>

                <div style="display:inline-block; text-align:right; float:right;">
                    
                    
                    <div class="gridControl">
                        <i class="fas fa-filter"></i>
                    </div>

                    <div class="gridControl" (click)="addBox();">
                        <i class="fas fa-plus-circle"></i>
                    </div>
                    <div class="gridControl" (click)="removeBox();">
                        <i class="fas fa-minus-circle"></i>
                    </div>  
                    <div class="gridControl">
                        <i class="far fa-minus-square"></i>
                    </div>
                    <div class="gridControl" (click)="resizeBox(i);">
                        <i class="fas fa-expand"></i>
                    </div>
                    <div class="gridControl" (click)="removeBox(box.name);">
                        <!-- box.id senare -->
                        <i class="far fa-window-close"></i>
                    </div>
                </div>
            </div>
            <div *ngIf="i !== 0" style="padding:1rem;">
                <p *isChrome>Using Chrome.</p>
                <p *isFirefox>Using Firefox.</p>
                <p *isSafari>Using Safari.</p>
                <p *isOpera>Using Opera Browser.</p>
                <p *isIE>Using Internet Explorer.</p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti ea nihil harum itaque rem placeat. Sed dolorum quisquam, iusto tempore, autem omnis rerum repellat aliquam, hic optio deleniti. Excepturi, modi.
                </p>
            </div>


            <perfect-scrollbar [config]="config" *ngIf="i === 0" style="padding: 0 0 0 1rem; " >
                <jira-forest class="boxFr" style="height:100%;"></jira-forest>
            </perfect-scrollbar>
            
           

        </div>

    </div>
</div>

</section>