
<div class="flexCenterRow sideContent" style="justify-content: space-between; padding:1rem;">
  
  <div>
    <h2 style="display: inline-block; margin:0;">General</h2>
  </div>
  
  <div class="gridControl"  (click)=" closeSideMenu('side-menu');" ><!-- playAnim(); --> <!-- onclick="closeSideMenu();" -->
    <i class="fas fa-times"></i>
  </div>

</div>

<div *ngIf="jiraParams" style="padding:1rem;" class="sideContent">

  <h4>Edit Grid Item</h4>
  <div class="flexCenterRow" style="margin-bottom: 1rem;">
      <form class="example-container unicorn-dark-theme" style="width:80%;" [formGroup]="options">
          <mat-form-field  style="color:white; width:100%;" [hideRequiredMarker]="options.value.hideRequired" [floatLabel]="options.value.floatLabel">
            <mat-select [formControl]="filterControl" multiple required>
                <mat-select-trigger>
                    {{filterControl.value ? filterControl.value[0] : ''}}
                    <span *ngIf="filterControl.value?.length > 1" class="example-additional-selection">
                        (+{{filterControl.value.length - 1}} others)
                    </span>
                </mat-select-trigger>
      
              <mat-option>-- None --</mat-option>
              <mat-option value="Portfolio">Portfolio</mat-option>
          
            </mat-select>
            
          </mat-form-field>
      </form>

      <div class="gridControl">
          <i class="far fa-check-circle"></i>
      </div>
  </div>

  <ng-container *ngIf="jiraParams.structureID">
    <h4>Portfolio Structure ID</h4>
    <div class="flexCenterRow" style="margin-bottom: 1rem;">
      <input type="text" class="noBorder" value="{{jiraParams.structureID}}">

      <div class="gridControl">
          <i class="far fa-check-circle"></i>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="jiraParams.structureFolderRegex">
    <h4>Portfolio RegEx Filter</h4>
    <div class="flexCenterRow" style="margin-bottom: 1rem;">
      <input type="text" class="noBorder" value="{{jiraParams.structureFolderRegex}}">

      <div class="gridControl">
          <i class="far fa-check-circle"></i>
      </div>
    </div>
  </ng-container>

<style>
  
  .test {
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .test.down {
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  
  .noBorder ~ .changed {
    opacity: 0;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .noBorder:focus ~ .changed {
    opacity: 1;
  }

  .noBorder ~ .newEntry {
    opacity: 0;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .noBorder:focus ~ .newEntry {
    opacity: 1;
  }

  .brighterOnFocus {
    color: #aaa;
    border-color: #aaa;
  }
  .brighterOnFocus:focus {
    color: #fff;
    border-color: #fff;
  }
  .brighterOnFocus:focus ~ * {
    color: #fff;
    border-color: #fff;
  }

</style>

  <ng-container *ngIf="jiraParams.fields?.length > 0">
    <h4>Portfolio Used Fields</h4>
    <!-- Visa bara hur många fields, vill man veta mer expanda -->
    <p class="inlineBlock">{{jiraParams.fields.length}} fields</p>
    <div class="gridControl test" [ngClass]="{down: !isCollapsed}" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
        <i class="fas fa-arrow-alt-circle-left"></i>
    </div>
    
    <!-- Lägg till nytt field -->

    <div style="margin-bottom:1rem;">
      <form class="form-horizontal" [formGroup]="form">

        <input formControlName="field" type="text" class="noBorder" placeholder="Add New Field">
        <div class="gridControl changed" (click)="postJiraParam()">
            <i class="fas fa-plus-circle"></i>
        </div>
      </form>
    </div>

    <!-- Visa alla fields som finns om tryckt på expand -->
    <div [ngbCollapse]="isCollapsed">
      <div *ngFor="let field of jiraParams.fields" class="flexCenterRow" style="margin-bottom: 1rem;">
        <input type="text" class="noBorder brighterOnFocus" value="{{field}}">

        <div class="gridControl" (click)="removeJiraParam(field)">
            <i class="far fa-trash-alt"></i>
        </div>
        <div class="gridControl changed">
            <i class="far fa-check-circle"></i>
        </div>
        
      </div>
    </div>

  </ng-container>

</div>



