.noBorder {
    background-color:transparent; 
    border:none; 
    color:white; 
    border-bottom: 1px solid white;
    width: 80%;
  }
  .noBorder:focus {
    outline-width: 0;
  }

  .sideContent .mat-select-arrow {
    color:white!important;
  }

  .sideContent .mat-select-value-text {
    color:white!important;
  }
