<div style="width:50%; display:inline-block;">
    <div *ngFor="let t of trip">
        <div *ngFor="let leglist of t.LegList.Leg">
            <p>{{leglist.Origin.name}}: {{leglist.Origin.time}} - {{leglist.Destination.name}}: {{leglist.Destination.time}}</p>

        </div>
    </div>
</div>

<div style="width:50%; display:inline-block;">

    <span class="fa-layers fa-fw" class="fa-2x">
        <i class="far fa-calendar-minus"></i>
    </span>
    <span class="fa-layers fa-fw" class="fa-3x">
        <i class="far fa-calendar-minus"></i>
    </span>
    <span class="fa-layers fa-fw" class="fa-1x">
        <i class="far fa-calendar-minus"></i>
    </span>
</div>